package pages

templ Home() {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<title>Home BitBox</title>
			<link href="./assets/tailwind.css" rel="stylesheet"/>
		</head>
		<body>
			<header>
				<h1><a href="/">BitBox</a></h1>
			</header>
			<h2 class="bg-red-500">Latest BitBox</h2>
			<p>
				There is no latest BitBox yet.
			</p>
			<footer>
				Powered by <a href="https://golang.org/">Go</a>
			</footer>
		</body>
	</html>
}
